<h4 class="col-md-6"><span>ユーザー一覧</span></h4>
<div class='col-md-12 mt-3'>
  <div class="text-center row">
  <% @users.each do |user| %>
    <div class="profile my-4 ml-4 mr-4">
      <%= link_to admin_user_path(user) do %>
        <%= image_tag user.profile_image, class: "admin_image" %>
      <% end %>
      <h5>
        <%= link_to admin_user_path(user) do %>
          <%= user.last_name %><%= user.first_name %>
        <% end %>
        User ID:<%= user.id %><br>
        <%= user.email %><br>
        <div class="text-right">
        <% if user.is_active == true %>  <!-- if文での会員ステータス表示 -->
          <div class="validity"><strong>有効</strong></div>
        <% else %>
          <div class="invalid"><strong>無効</strong></div>
        <% end %>
        </div>
      </h5>
    </div>
  <% end %>
  </div>
  <div class="border"></div>
  <%= paginate @users %>
</div>
