<div class="search-form">
  <%= render 'public/search', search_params: @search_params %>
</div>
<h3 class="col-md-3"><span>レビュー一覧</span></h3><p>レビュー数：<%= @reviews.count %></p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @reviews.present? %>
        <% @reviews.each do |review| %>
          <div class="d-flex flex-column flex-md-row align-items-center my-3">
            <%= link_to public_review_path(review.id) do %>
              <%= image_tag review.image, class: "item_img" %>
            <% end %>
            <div class="col-md-10">
              <h3>
                <div>
                  <%= link_to public_review_path(review.id), class: "mr-5" do %>
                    <%= review.item_name %>
                  <% end %>
                  <%= review.genre.name %>
                </div>
                <div class="text-right">
                  <%= review.user.nick_name %>のレビュー
                </div>
                <%= review.title %>
                <div class="text-right">
                  購入価格￥<%= review.purchase_price.to_s(:delimited) %>
                </div>
              </h3>
            </div>
          </div>
          <div class="border"></div>
        <% end %>
        <%= paginate @reviews %>
      <% else %>
        <div class="text-center">
          <div class="col">
            <section class="about-content">
              <h3><strong>レビューがありません。</strong></h3>
            </section>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
