<h4 class="col-md-6"><span>ユーザー情報の編集</span></h4>
<div class="container">
  <div class="row justify-content-center">
    <div class="preview">
      <div id="new-image"></div>
    </div>
    <div class='col-md-8 mt-3'>
      <%= form_with model: @user, url: admin_user_path(@user), local: true do |f| %>

      　<!--会員ID-->
        <div class="form-group row">
          <%= f.label "会員ID", class: "col-md-4 offset-md-1 col-form-label" %>
          <%= @user.id %>
        </div>

        <!--プロフィール画像-->
        <div class="form-group row my-4">
          <%= f.label :profile_image, "プロフィール画像", class: "col-md-4 offset-md-1 col-form-label" %>
          <%= f.file_field :profile_image, accept: "image/*", class: "col-md-5" %>
        </div>

        <!--ニックネーム-->
        <div class="form-group row my-4">
          <%= f.label :nick_name, "ニックネーム", class: "col-md-4 offset-md-1 col-form-label" %>
          <%= f.text_field :nick_name, class: "col-md-5" %>
        </div>

        <!--名前-->
        <div class="form-group row my-4">
          <%= f.label "氏名", class: "col-md-4 offset-md-1 col-form-label" %>
          <%= f.text_field :last_name, class: "col-md-2" %>
          <%= f.text_field :first_name, class: "col-md-2 offset-md-1" %>
        </div>

        <!--メールアドレス-->
        <div class="form-group row my-4">
          <%= f.label :email, "メールアドレス", class: "col-md-4 offset-md-1 col-form-label" %>
          <%= f.email_field :email, class: "col-md-5" %>
        </div>

        <!--会員ステータス-->
        <div class="form-group row my-4">
          <%= f.label "会員ステータス", class: "col-md-4 offset-md-1 col-form-label" %>
          <div class="text-center mt-2">
            <%= f.radio_button :is_active, :true %>
            <font color=#00fa9a><%= f.label :is_active, "有効" %></font>
            <%= f.radio_button :is_active, :false %>
            <font color=#ff0000><%= f.label :is_active, "無効" %></font>
          </div>
        </div>

        <!--編集を保存ボタン-->
        <div class="text-center">
          <%= f.submit "編集を保存する", class: "button col-md-3 mt-5 ml-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
