<div class="row justify-content-center">
  <div class="profile mt-4">
    <%= image_tag @user.get_profile_image(600,600), class: "user_image" %>
    <h4 class="my-3">
      ユーザーID:<%= @user.id %></br>
      ニックネーム：<%= @user.nick_name %></br>
      氏名：<%= @user.last_name %><%= @user.first_name %></br>
      メールアドレス：</br><%= @user.email %></br>
    </h4>
    <%= link_to '編集する', edit_admin_user_path(@user.id), class: "button mt-3" %>
    <% if @user.is_active == true %>  <!-- if文での会員ステータス表示 -->
      <td><font color=#00fa9a><strong>有効</strong></font></td>
    <% else %>
      <td><font color=#5f5f5f><strong>退会</strong></font></td>
    <% end %>
  </div>
  <div class="col-md-8 ml-3 mr-3">
    <h4 class="mt-3">
      <%= @user.nick_name %>のレビュー
    </h4>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% @reviews.each do |review| %>
            <div class="d-flex flex-column flex-md-row align-items-center my-3">
              <%= link_to admin_review_path(review.id) do %>
                <%= image_tag review.image, class: "user_item_image" %>
              <% end %>
              <div class="col-md-10">
                <h5>
                  <div>
                    <%= link_to admin_review_path(review.id), class: "mr-5" do %>
                      <%= review.item_name %>
                    <% end %>
                    <div class="text-right">
                      <%= review.genre.name %>
                    </div>
                  </div>
                    <%= review.title %>
                  <div class="text-right">
                    購入価格￥<%= review.purchase_price.to_s(:delimited) %>
                  </div>
                </h5>
              </div>
            </div>
            <div class="border"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>