<!DOCTYPE html>
<html>
  <head>
    <title>DeviceLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white mb-2">
        <h5 class="my-0 mr-md-auto font-italic">
          <%= link_to root_path do %>
            <div class="text-dark">Device_Log</div>
          <% end %>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <% if user_signed_in? %>
            <ul class="nav col-lg-auto my-2  my-md-0">
              <li class="welcome">ようこそ、<%= current_user.nick_name %>さん！</li>
            </ul>
          <% end %>
        </nav>
        <% if user_signed_in? %>
          <%= link_to public_user_path(current_user.id) do%>
            <div class="button mr-4">マイページ</div>
          <% end %>
          <%= link_to new_public_reviews_path do%>
            <div class="button mr-4">レビューする</div>
          <% end %>
          <%= link_to public_reviews_path do%>
            <div class="button mr-4">レビュー一覧</div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do%>
            <div class="button mr-4">ログアウト</div>
          <% end %>
        <% elsif admin_signed_in? %>
          <%#= link_to admin_items_path do %>
            <div class="button mr-4">レビュー一覧</div>
          <%# end %>
          <%#= link_to admin_customers_path do%>
            <div class="button mr-4">ユーザー一覧</div>
          <%# end %>
          <%#= link_to admin_genres_path do%>
            <div class="button mr-4">ジャンル一覧</div>
          <%# end %>
          <%#= link_to destroy_admin_session_path, method: :delete do%>
            <div class="button mr-4">ログアウト</div>
          <%# end %>
        <% else %>
          <%= link_to new_user_registration_path do%>
            <div class="button mr-4">新規登録</div>
          <% end %>
          <%= link_to new_user_session_path do%>
            <div class="button mr-4">ログイン</div>
          <% end %>
          <%#= link_to new_customer_session_path do%>
            <div class="button mr-4">ゲストログイン</div>
          <%# end %>
        <% end %>
      </div>
      <div class="border"></div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
  <footer>
    <div class="footer">©gakuto</div>
  </footer>
</html>

