<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/5ef47f0b1d.js" crossorigin="anonymous"></script>
    <title>DeviceLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white">
        <h5 class="my-0 mr-md-auto font-italic">
          <% if admin_signed_in? %>
            <%= link_to admin_homes_top_path do %>
              <%= image_tag 'logo.png', class: "initialized"%>
            <% end %>
          <% else %>
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', class: "initialized"%>
            <% end %>
          <% end %>
        </h5>
        <div><!----------------フラッシュメッセージ----------------->
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name %>" role="alert" id="alert">
              <a href="#" class="close" data-dismiss="alert">×</a>
              <%= msg %>
            </div>
          <% end %>
        </div><!----------------------------------------------------->
        <nav class="my-2 my-md-0 mr-md-3">
          <% if user_signed_in? %>
            <ul class="nav col-lg-auto my-2">
              <li class="welcome">ようこそ、<%= current_user.nick_name %>さん！</li>
            </ul>
          <% elsif admin_signed_in? %>
            <ul class="nav col-lg-auto my-2">
              <li class="welcome">管理者ログイン中</li>
            </ul>
          <% end %>
        </nav>
        <% if user_signed_in? %>
          <%= link_to public_user_path(current_user.id) do%>
            <div class="button mr-2 ml-2">マイページ</div>
          <% end %>
          <%= link_to new_public_reviews_path do%>
            <div class="button mr-2 ml-2">レビューする</div>
          <% end %>
          <%= link_to public_reviews_path do%>
            <div class="button mr-2 ml-2">レビュー一覧</div>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do%>
            <div class="button mr-2 ml-2">ログアウト</div>
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to admin_reviews_path do %>
            <div class="button mr-2 ml-2">レビュー一覧</div>
          <% end %>
          <%= link_to admin_homes_top_path do%>
            <div class="button mr-2 ml-2">ユーザー一覧</div>
          <% end %>
          <%= link_to admin_genres_path do%>
            <div class="button mr-2 ml-2">ジャンル一覧</div>
          <% end %>
          <%= link_to destroy_admin_session_path, method: :delete do%>
            <div class="button mr-2 ml-2">ログアウト</div>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path do%>
            <div class="button mr-2 ml-2">新規登録</div>
          <% end %>
          <%= link_to new_user_session_path do%>
            <div class="button mr-2 ml-2">ログイン</div>
          <% end %>
          <%= link_to users_guest_sign_in_path, method: :post do %>
            <div class="button mr-2 ml-2">ゲストログイン閲覧用</div>
          <% end %>
        <% end %>
      </div>
      <div class="main-border"></div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
  <footer>
    <div class="footer">©Device_Log.gakuto</br>
      <% unless signed_in? %>
        <%= link_to new_admin_session_path do%>
          <div class="button"></div>
        <% end %>
      <% end %>
    </div>
  </footer>
</html>

